.container header{
    box-sizing: border-box;
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
      "covidInfo"
      "navBar";
      box-shadow: -1px 2px 10px rgba(179, 140, 74, 1);
      z-index: 0;
    background: linear-gradient(270deg, rgb(225, 225, 225) 60%, #fff 70%);
  }
  
  .container header > *{
    display: grid;
    grid-template-columns: 1fr;
  }
  
  .logo svg{
    font-family: "Game of Thrones";
  }
  
  .logo svg text{
    fill: rgba(179, 140, 74, 1);
    stroke: rgba(112, 95, 66, 1);
    stroke-width: 0.5px;
    cursor: default;
  }

  .logo{
    grid-row: 1;
    grid-column: 1;
  }
  
  .covid-info{
    grid-area: covidInfo;
    justify-items: center;
    display: grid;
  }

  .covid-info div{
    width: 100%;
  }

  .covid-info p{
    margin: 0;
    padding: 5px 0;
    width: 80%;
    font-size: 18px;
  }

  .covid-less-info, .covid-more-info{
    box-sizing: border-box;
    padding: 10px 10%;
    background-color: rgba(255, 255, 255, 1);
  }

  .covid-less-info{
    background-color: rgba(71, 161, 245, 1);
    color: rgba(255, 255, 255, 1);
  }

  .covid-less-info span{
    color: rgba(255, 255, 255, 1);
    text-decoration: underline; 
    cursor: pointer;
  }

  .covid-more-info{
    overflow: hidden;
    transition: max-height 0.5s, padding 0.7s;
  }

  .covid-more-info p{
    color: rgba(0, 0, 0, 1);
  }

  .covid-more-info a{
    color: rgba(71, 161, 245, 1)
  }

  [data-covid-info="expanded"]{
    max-height: 300px;
  }

  [data-covid-info="collapsed"]{
    max-height: 0;
    padding: 0 10%;
  }

  .covid-info h4, .covid-info h5{
    margin: 0; 
  }

  
  nav{
    grid-area: navBar;
    display: grid;
    justify-self: center;
    align-self: center;
    align-items: center;
    width: 80%;
    padding: 4px 0;
  }

  nav ul{
    justify-self: end;
    list-style-type: none;
    grid-row: 1;
    grid-column: 1;
    margin: 0;
    padding: 0;
    font-size: 24px;
  }
  
  nav ul li{
    display: inline-block;
    padding: 0 24px;
  }
  
  nav ul li a{
    text-decoration: none;
    color: rgba(50, 50, 50, 1);
    transition: color 1s;
  }
  
  nav ul li a:hover{
    text-decoration: underline;
    color: rgba(0, 0, 0, 1);;
  }