/* index.css deals with the styling of elements specifically on index.html */

/* Setting margin and padding to 0 and 
  width/height to 100 makes sure that child 
  elements of body can make use of the whole screen.  */
html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  
  /* The main grid of the index page. 
    Positions <header> and everything below <header> minus <footer>. */
  .container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
      "header"
      "main";
  }
  
  /* The grid of everything in <main> */
  main{
    grid-area: main;
    grid-template-columns: 1fr;
    grid-template-areas: 
      "main-hero"
      "tickets-on-sale"
      "what-to-know"
      "attractions"
      "drogon"
      "set-tour"
      "dining"
      "shop"
      "contact";
  }

  /* All child <div>s (but no further descendants) a top and bottom margin of 30px  */
  main > div{
    margin: 30px 0;
  }
  
  /* The hero element. The part of the page that has the picture of the red keep */
  .main-hero{
    position: relative;
    grid-area: main-hero;
    display: grid;
    margin-top: 0;
  }
  
  .main-hero img{
    width: 100%;
    grid-column: 1;
    grid-row: 1;
    z-index: 0;
  }
  
  .main-hero h1, .main-hero p{
    grid-column: 1;
    grid-row: 1;
    text-align: center;
    z-index: 1;
  }
  
  .main-hero h1{
    font-size: 46px;
    font-family: "trajan-color", "Trajan-pro", serif;
    font-weight: 400;
    font-style: normal;
    color: rgba(179, 140, 74, 1);
    text-shadow: 0 0 2px rgba(112, 95, 66, 1);
    position: absolute;
    top: 30px;
    text-align: center;
    width: 100%;
    z-index: 1;
  }
  
  .main-hero p{
    font-size: 34px;
    color: rgba(179, 140, 74, 1);
    position: absolute;
    top: 75px;
    text-align: center;
    width: 100%;
    z-index: 0;
  }
  
  .tickets-on-sale{
    grid-area: tickets-on-sale;
    text-align: center;
  }
  
  .tickets-on-sale h2{
    margin-bottom: 5px;
  }
  
  .tickets-on-sale a{
    font-family: "Trajan-pro", "Garamond", serif;
    font-size: 25px;
    display: inline-block;
    box-sizing: border-box;
    background-color: rgba(179, 140, 74, 1);
    border: 1px solid rgba(179, 140, 74, 1);
    color: rgba(255, 255, 255, 1);
    padding: 10px 15px;
    text-decoration: none;
    transition: background-color .5s, border .5s, color 1s;
  }

  .tickets-on-sale a:hover{
    border: 1px solid rgba(112, 95, 66, 1);
    background-color: rgba(112, 95, 66, 1);
  }

  .tickets-on-sale a:active{
    color: rgba(179, 140, 74, 1);
    background-color: rgba(112, 95, 66, 1);
  }

  /* The grid layout of #what-to-know, #attractions, #set-tour and #dining */
  /* It is a grid with 5 columns and 3 rows */
  .experiences{
    display: grid;
    /* The first and last columns each serve as a margin of 10% of window width 
     * The three middle columns are each ~26.67% wide */
    grid-template-columns: 10vw repeat(3, calc(80vw / 3)) 10vw;
    /* The first row is of automatic height and spans the entire width of the grid 
       and contains the heading 
     * The second row has two boxes of the same height with one (exp-grid-1) two 
       times the width of the other (exp-grid-2)
     * The third row has three boxes (exp-grid-3 to 5) of equal size */
    grid-template-rows: auto calc((160vw / 3) / 2.01) calc(80vw / 3);
    grid-template-areas:
        ". experience-heading experience-heading experience-heading ." 
        ". experience-grid-1 experience-grid-1 experience-grid-2 ."
        ". experience-grid-3 experience-grid-4 experience-grid-5 .";
  }

  /* Takes up the entire width in the first row */
  .experience-heading{
    grid-area: experience-heading;
  }
  
  /* The first two columns in the middle row */
  .experience-grid-1{
    grid-area: experience-grid-1;
  }

  /* The last column in the middle row */
  .experience-grid-2{
    grid-area: experience-grid-2;
  }

  /* The first column in the last row */
  .experience-grid-3{
    grid-area: experience-grid-3;
  }

  /* The second column in the last row */
  .experience-grid-4{
    grid-area: experience-grid-4;
  }

  /* The third column in the last row */
  .experience-grid-5{
    grid-area: experience-grid-5;
  }

  #what-to-know{
    grid-area: what-to-know;
  }

  #wtkDetail2{
    background-color: rgba(112, 95, 66, 1);
    color: rgba(255, 255, 255, 1);
  }

  #wtkDetail2 a{
    color: rgba(255, 255, 255, 1);
  }

  /* Give the text description of the experience a padding of 5% to the left and right */
  .experience-detail{
    margin: 0;
    padding: 0 5%;
  }

  /* This ensures that <img> fill up the entire grid box without distorting its aspect ratio */
  .experiences img, .experiences video{
      width: 100%;
      height: 100%;
      object-fit: cover;
  }

  #attractions{
    grid-area: attractions;
  }

  #attractions p, #attractions h3{
  color: rgba(255, 255, 255, 1);
  text-shadow: 0 0 5px rgba(0, 0, 0, 1);
  margin: 0;
  }

#attractions h3{
  padding: 1.3vw;
  padding-bottom: 0;
}

#attractions p{
  padding: 0 1.3vw;
}

.attraction{
    display: grid;
}

/* This makes the <img> of the attraction and its description share the same grid. 
   z-index is used to place the description on top of the image. */
.attraction img, .attraction div{
    grid-column: 1;
    grid-row: 1;
}

.attraction div{
  position: relative;
  height: fit-content;
}

/* This sets a background colour for the text on top of the image.
   This is to provide contrast between the text and the image */
.attraction-desc span{
  position: relative;
  display: inline;
  background-color: rgba(179, 140, 74, 0.5);
}

#wildfire-show-desc{
  z-index: 1;
}

#axe-throw-img{
  object-position: 15%;
}

/* The grid layout for the drogon rollercoaster experience. 
 * The size and design is similar to the experience grid but it 
   lacks the third row.*/
#drogon{
    grid-area: drogon;
    display: grid;
    grid-template-columns: 10vw repeat(3, calc(80vw / 3)) 10vw;
    grid-template-rows: auto calc((160vw / 3) / 2.01);
    grid-template-areas: 
        ". header header header ."
        ". img img desc .";
}

/* The heaer takes up the entire first row of the grid */
#drogon h2{
    grid-area: header;
}

/* The text description occupies the third column in the second row */
#drogon p{
    grid-area: desc;
    padding: 5%;
    background-color: rgba(15, 15, 15, 1);
    color: rgba(255, 255, 255, 1);
}

/* The image occupies the first two columns of the second row of the grid */
#drogon img{
  grid-area: img;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#set-tour{
  grid-area: set-tour;
}

#set-tour p{
  padding: 5%;
  background-color: rgba(119, 0, 85, 1);
  color: rgba(255, 255, 255, 1);
}

#dining{
    grid-area: dining;
}

/* The grid for the shop <div> */ 
#shop{
    grid-area: shop;
    display: grid;
    /* It is a 3x5 grid with the first and last columns serving as the left and right margins */
    grid-template-columns: 10vw repeat(3, calc(80vw / 3)) 10vw;
    grid-template-rows: auto calc((160vw / 3) / 2.01) calc(80vw / 3);
    /* The heading and banner take up the entire width of the first and second rows.
     * The last row is taken up by three separate elements*/
    grid-template-areas:
        ". heading heading heading ." 
        ". hbo-banner hbo-banner hbo-banner ."
        ". complete-collection collectable gifts ."
}

#shop div{
  display: grid;
  box-sizing: border-box;
}

#shop div p{
  color: rgba(255, 255, 255, 1);
  text-shadow: 0 0 5px rgba(0, 0, 0, 1);
  margin: 0;
  padding: 5%;
  z-index: 1;
}

#shop div p span{
  background-color: rgba(179, 140, 74, 0.4);
  padding: 2px;
}

#shop h2{
    grid-area: heading;
}

#shop img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

#shop a{
  display: grid;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

/* Hovering over a grid element darken the image. 
 * This was our way of showing that the element is interactive. */
#shop a:hover img{
  filter: brightness(0.5)
}

#shop a:hover h3{
  opacity: 1;
}

#shop h3{
  justify-self: center;
  align-self: center;
  opacity: 0;
  z-index: 2;
  background-color: rgba(179, 140, 74, 1);
  padding: 10px;
}

#shop a > *, #shop a div > *{
  grid-area: 1/1;
  text-align: center;
}

#hbo-banner-link{
    grid-area: hbo-banner;
}

#hbo-banner{
  object-position: 0 40%;
}

#complete-collection-link{
    grid-area: complete-collection;
}

#complete-collection img{
  object-position: 85%;
}

#collectable-link{
    grid-area: collectable;
    overflow: hidden;
}

#gifts-link{
    grid-area: gifts;
}

/* The grid layout for the contact <div> 
 * Similar to the drogon grid but rows are automatically sized. */
#contact{
  grid-area: contact;
  display: grid;
  grid-template-columns: 10vw repeat(3, calc(80vw / 3)) 10vw;
  grid-template-rows: auto auto;
  grid-template-areas: 
    ". contact-heading contact-heading contact-heading ."
    ". contact-tickets contact-support contact-location .";
}

#contact h2{
  grid-area: contact-heading;
}

#contact-tickets{
  grid-area: contact-tickets;
}

#contact-support{
  grid-area: contact-support;
}

#contact-location{
  grid-area: contact-location;
}

#contact div{
  margin-bottom: 15px;
}

#contact h3, #contact h4, #contact p{
  margin: 0;
}

#contact p{
  font-size: 22px;
}
