html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  
  .container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
      "header"
      "main";
  }
  
  
  main{
    grid-area: main;
    grid-template-columns: 1fr;
    grid-template-areas: 
      "main-hero"
      "tickets-on-sale"
      "what-to-know"
      "attractions"
      "drogon"
      "set-tour"
      "dining"
      "shop"
      "contact";
  }

  main > div{
    margin: 30px 0;
  }
  
  .main-hero{
    grid-area: main-hero;
    display: grid;
    margin-top: 0;
  }
  
  .main-hero img{
    width: 100%;
    grid-column: 1;
    grid-row: 1;
    z-index: 0;
  }
  
  .main-hero h1, .main-hero p{
    grid-column: 1;
    grid-row: 1;
    text-align: center;
    z-index: 1;
  }
  
  .main-hero h1{
    margin: 10% 0;
    font-size: 46px;
    font-family: "trajan-color", "Trajan-pro", serif;
    font-weight: 400;
    font-style: normal;
    color: rgba(179, 140, 74, 1);
    text-shadow: 0 0 2px rgba(112, 95, 66, 1);
  }
  
  .main-hero p{
    margin: 13% 0;
    font-size: 34px;
    color: rgba(179, 140, 74, 1);
  }
  
  .tickets-on-sale{
    grid-area: tickets-on-sale;
    text-align: center;
  }
  
  .tickets-on-sale h2{
    margin-bottom: 5px;
  }
  
  .tickets-on-sale a{
    font-family: "Trajan-pro", "Garamond", serif;
    display: inline-block;
    box-sizing: border-box;
    background-color: rgba(179, 140, 74, 1);
    border: 1px solid rgba(179, 140, 74, 1);
    color: #fff;
    padding: 15px 32px;
    text-decoration: none;
    transition: background-color .5s, border .5s, color 1s;
  }

  .tickets-on-sale a:hover{
    border: 1px solid rgba(112, 95, 66, 1);
    background-color: rgba(112, 95, 66, 1);
  }

  .tickets-on-sale a:active{
    color: rgba(179, 140, 74, 1);
    background-color: rgba(112, 95, 66, 1);
  }

  .experiences{
    display: grid;
    grid-template-columns: 10vw repeat(3, calc(80vw / 3)) 10vw;
    grid-template-rows: auto calc((160vw / 3) / 2.01) calc(80vw / 3);
    grid-template-areas:
        ". experience-heading experience-heading experience-heading ." 
        ". experience-grid-1 experience-grid-1 experience-grid-2 ."
        ". experience-grid-3 experience-grid-4 experience-grid-5 .";
  }

  .experience-heading{
    grid-area: experience-heading;
  }

  .experience-grid-1{
    grid-area: experience-grid-1;
  }

  .experience-grid-2{
    grid-area: experience-grid-2;
  }

  .experience-grid-3{
    grid-area: experience-grid-3;
  }

  .experience-grid-4{
    grid-area: experience-grid-4;
  }

  .experience-grid-5{
    grid-area: experience-grid-5;
  }

  #what-to-know{
    grid-area: what-to-know;
  }

  #wtkDetail2{
    background-color: rgba(112, 95, 66, 1);
    color: #fff;
  }

  #wtkDetail2 a{
    color: #fff;
  }

  .experience-detail{
    margin: 0;
    padding: 0 5%;
  }

.experiences img, .experiences video{
      width: 100%;
      height: 100%;
      object-fit: cover;
  }

#attractions{
    grid-area: attractions;
}

#attractions p, #attractions h3{
  color: rgba(255, 255, 255, 1);
  text-shadow: 0 0 5px rgba(0, 0, 0, 1);
  margin: 0;
}

#attractions h3{
  padding: 1.3vw;
  padding-bottom: 0;
}

#attractions p{
  padding: 0 1.3vw;
}

.attraction{
    display: grid;
}

.attraction img, .attraction video, .attraction div{
    grid-column: 1;
    grid-row: 1;
}

.attraction div{
  position: relative;
  height: fit-content;
}

#wildfire-show video{
  z-index: 0;
}

#wildfire-img-overlay{
  z-index: 1;
  opacity: 0;
}

#wildfire-show-desc{
  z-index: 2;
}

#axe-throw-img{
  object-position: 15%;
}

#drogon{
    grid-area: drogon;
    display: grid;
    grid-template-columns: 10vw repeat(3, calc(80vw / 3)) 10vw;
    grid-template-rows: auto calc((160vw / 3) / 2.01);
    grid-template-areas: 
        ". header header header ."
        ". vid vid desc .";
}

#drogon h2{
    grid-area: header;
}

#drogon p{
    grid-area: desc;
    padding: 5%;
    background-color: #0f0f0f;
    color: rgba(255, 255, 255, 1);
}

#drogon video, #drogon img{
  grid-area: vid;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#drogon video{
  z-index: 0;
}

#drogon img{
  z-index: 1;
  opacity: 0;
}

#set-tour{
  grid-area: set-tour;
}

#set-tour p{
  padding: 5%;
  background-color: #705;
  color: #FFF;
}

#dining{
    grid-area: dining;
}

#shop{
    grid-area: shop;
    display: grid;
    grid-template-columns: 10vw repeat(3, calc(80vw / 3)) 10vw;
    grid-template-rows: auto calc((160vw / 3) / 2.01) calc(80vw / 3);
    grid-template-areas:
        ". heading heading heading ." 
        ". hbo-banner hbo-banner hbo-banner ."
        ". complete-collection collectable gifts ."
}

#shop div{
  display: grid;
  box-sizing: border-box;
}

#shop div img, #shop div p{
  grid-column: 1;
  grid-row: 1;
  text-align: center;
}

#shop div p{
  color: #fff;
  text-shadow: 0 0 5px #000;
  margin: 0;
  padding: 5%;
}

#shop h2{
    grid-area: heading;
}

#shop img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#hbo-banner{
    grid-area: hbo-banner;
}

#complete-collection{
    grid-area: complete-collection;
}

#complete-collection img{
  object-position: 85%;
}

#collectable{
    grid-area: collectable;
}

#gifts{
    grid-area: gifts;
}

#contact{
  grid-area: contact;
  display: grid;
  grid-template-columns: 10vw repeat(3, calc(80vw / 3)) 10vw;
  grid-template-rows: auto auto;
  grid-template-areas: 
    ". contact-heading contact-heading contact-heading ."
    ". contact-tickets contact-support contact-location .";
}

#contact h2{
  grid-area: contact-heading;
}

#contact-tickets{
  grid-area: contact-tickets;
}

#contact-support{
  grid-area: contact-support;
}

#contact-location{
  grid-area: contact-location;
}

#contact div{
  margin-bottom: 15px;
}

#contact h3, #contact h4, #contact p{
  margin: 0;
}

#contact p{
  font-size: 22px;
}
