header { 
  grid-area: top;
  justify-content: center;   
  padding-top: 20px;
}

.logo {
  text-align: center;
}

.greeting { 
  grid-area: next;
  justify-content: center; 
 

}
.sign-section {
  grid-area: left;
  overflow: visible;
}

.right {
  grid-area: right;
  overflow: scroll;
  margin: 20px;
}

.hero {
  background-image: url('../media/castle.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
}
.adventure {
  color: rgb(179, 140, 74);
  font-size: 120%;
}

.footer{ 
  grid-area: bottom;
  padding: 20px;
}
  
.grid-container {
  display: grid;
  /*grid-template-columns: repeat (3, 120px);*/
  grid-template-rows:  auto 1fr 6fr 1fr;
  grid-template-columns: 3fr 6fr;
  grid-template-areas: "top top" "next next" "left right" "bottom bottom";
  
  
  }

#tabArea {
  
  background-color: RGB(224, 224, 224);
  width: 25%;
  position: relative;
}

.tab {
  border: /*4px*/ solid RGB(224, 224, 224);
  background-color: RGB(224,224,224);
  text-align: center;
 
}
.tab button {
  background-color: inherit;
  color: RGB(92, 92, 92);
  float: top;
  border: none;
  outline: none;
  cursor: pointer;
  /*padding: 14px 16px;*/
  transition: 0.4s;
  font-family: trajan-pro-3, serif;
}
.tab button:hover {
  background-color: RGB(192, 192, 192);
}
.tab button.active {
  background-color: RGB(240, 240, 240);
}
.tabcontent {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.tabcontent select,
.tabcontent input[type=email],
.tabcontent input[type=password],
.tabcontent input[type=text] {
  width: 100%;
  margin-bottom: 2px;
  height: 30px;
  box-sizing: border-box;
}

  .gold{
    color: rgba(179, 140, 74, 1);
  }

  input.gold, button.gold{

    background-color:rgba(179, 140, 74, 1);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: trajan-pro-3, serif;
    
  }

  input.gold:hover, button.gold:hover {
    background-color:rgba(112, 95, 66, 1);
  }

  #signupform{
    
    background-color: RGB(224, 224, 224);
    color: RGB(59,59,59);
  }
  /*for clear buttons*/
  .other{  
    border: none;
    color: rgb(175, 168, 157);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: trajan-pro-3, serif;
  }
  input.other:hover, button.other:hover {
    background-color:rgba(112, 95, 66, 1);
  }
  /*separate font for form field placeholders*/
  input.this option.this {
    font-family: krete, serif;
    font-style: normal;
    font-weight: 200;
  }
  
  h1 {
    background-color: RGB(192, 192, 192);
    color: RGB(52, 52, 52);
    text-align: center;
    font-family: trajan-pro-3, serif;
    font-style: normal;
    font-weight: 300;
    /*padding: 6px 12px;
    border: 1px solid #ccc;*/
    border-top: none;
  }
  h2 {
      background-color: RGB(192, 192, 192);
      color: RGB(52, 52, 52);
      text-align: center;
      font-family: trajan-pro-3, serif;
      font-style: normal;
      font-weight: 300;
      
      
      border-bottom: none;
    }
  a {
    color: RGB(52, 52, 52);
  }

  nav {

    font-family: trajan-pro-3, serif;
  }
  .lightest {
    color:RGB(255, 255, 255);
  }

  h3 {
    font-family: trajan-pro-3, serif;
  }
  /*chat box css*/
  
  
  .open-button {
    z-index: 1;
    background-color: RGB(134,8,9);
    color: white;
    padding: 14px 24px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 240px;
  }
  .chat-box {
    
    position: fixed;
    bottom: 70px;
    right: 48px;
    border: 3px solid RGB(134,8,9);
    z-index: 10;
    display: none;
    color: white;
  }
  .form-container {
    max-width: 400px;
    padding: 10px;
   
    background-color: RGB(134,8,9);
    }
    .form-container textarea {
    /*display: none;*/ 
    width: 100%;
    padding: 0px;
    margin: 5px 0 22px 0;
    border: 3px solid RGB(134,8,9);
    background: RGB(225, 225, 225);
    resize: none;
    min-height: 200px;
    bottom: 140px;
    color:RGB(0, 0, 0);
    /*overflow: scroll;*/
  }
    .form-container textarea:focus {
    background-color: RGB(225, 225, 225);
    outline: none;
    color: white;
    }

    form-container .btn {
    background-color: RGB(134,8,9);
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 1;
    }
    .form-container .btn:hover, .open-button:hover {
      opacity: 0.8;
      color: white;
    }
    
  .darkest {
    background-color:RGB(59, 59, 59);
  }

  /* The Logo */
  @font-face {
    font-family: "Game of Thrones";
    src: url("../fonts/GameOfThrones.ttf")
  }


  .footer {
      background-color: RGB(224, 224, 224);
      position: fixed;
      margin-top: 2%;
      height: 25px;
      width: 100%;
      text-align: left;
      font-size: 0.8em;
      bottom: 0;
    }
    .footer ul {
      list-style-type: none;
    }
    .footer a {
      color: RGB(52, 52, 52);
    }
    .footer ul li {
      display: inline;
      margin: 0 15px;
    }
  

    
.submitbutton {
  text-align: right;
}