header{
  background-color: RBG(224, 224, 224);
  color: RGB(59, 59, 59);    
  text-align: center;         
}
body{
    font-family: trajan-pro-3, serif;
    font-style: normal;
    font-weight: 400;
    background-color: RGB(225, 225, 225);
    color: RGB(59,59,59);
    background-image: url('assets/castle.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
}
.tabcontent {
    /* display: none; */
    border: 1px solid;
    border-top: none;
    background-color: RGB(225,225,225);
  }
  #tabArea {
    background-color: RGB(225, 225, 225);
    width: 25%;
    position: relative;
  }
  .tab button:hover {
    background-color: RGB(192, 192, 192);
  }
  .tab button.active {
    background-color: RGB(192, 192, 192);
  }
  .tab {
    width: 100%;
    overflow: hidden;
    border: 2px solid RGB(224, 224, 224);
    background-color: RGB(225,225,225);
    width: 100%;
  }
  .tab button {
    background-color: inherit;
    color: RGB(59, 59, 59);
    float: left;
    border: none;
    height: 40;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.4s;
    font-family: trajan-pro-3, serif;
  }
  
    .gold{
      color: #B38C4A;
    }
    input.gold, button.gold{

      background-color: #B38C4A;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      font-family: trajan-pro-3, serif;
      
    }
    #createAccount{
      background-color: RGB(225, 225, 225);
      color: RGB(59,59,59);
    }
    /*for clear buttons*/
    .other{
      
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      font-family: trajan-pro-3, serif;
    }
    /*separate font for form field placeholders*/
    input.this option.this {
      font-family: krete, serif;
      font-style: normal;
      font-weight: 200;
    }
    
    h1 {
      background-color: RGB(192, 192, 192);
      color: RGB(52, 52, 52);
      text-align: center;
      font-family: trajan-pro-3, serif;
      font-style: normal;
      font-weight: 300;
      padding: 6px 12px;
      border: 1px solid #ccc;
      border-top: none;
    }
    a {
      color: RGB(52, 52, 52);
    }

    nav {

      font-family: trajan-pro-3, serif;
    }
    .lightest {
      color:RGB(255, 255, 255);
    }

    h3 {
      font-family: trajan-pro-3, serif;
    }
    /*chat box css
    {box-sizing: border-box;}*/
    
    .open-button {
      background-color: RGB(134,8,9);
      color: white;
      padding: 14px 24px;
      border: none;
      cursor: pointer;
      opacity: 0.8;
      position: fixed;
      bottom: 23px;
      right: 50px;
      width: 240px;
    }
    .chat-box {
      
      position: fixed;
      bottom: 70px;
      right: 48px;
      border: 3px solid #B38C4A;
      z-index: 10;
      /*display: none;*/
    }
    .form-container {
      max-width: 400px;
      padding: 10px;
      background-color: RGB(225, 225, 225);
      }
      .form-container textarea {
      /* display: none; */
      width: 100%;
      padding: 0px;
      margin: 5px 0 22px 0;
      border: none;
      background: RGB(225, 225, 225);
      resize: vertical;
      min-height: 100px;
      overflow: auto;
    }
      .form-container textarea:focus {
      background-color: RGB(225, 225, 225);
      outline: none;
      }

      form-container .btn {
      background-color: RGB(134,8,9);
      color: white;
      padding: 16px 20px;
      border: none;
      cursor: pointer;
      width: 100%;
      margin-bottom:10px;
      opacity: 1;
      }
      .form-container .btn:hover, .open-button:hover {
        opacity: 1;
      }
      footer {
      text-align: left;
    }
    .darkest {
      background-color:RGB(59, 59, 59);
    }

    @font-face {
      font-family: "Game of Thrones";
      src: url("assets/GameOfThrones.ttf")
    }

    .logo svg{
      font-family: "Game of Thrones";
      transform:scale(130%); /* Change the size of the logo. 130% is 30% bigger. */
    }
    
    .logo svg text{
      fill: #2a2a57; /* Colour of the logo */
      stroke: RGB(59, 59, 59); /* Outline of the logo. Set to "none" to remove the outline. */
      stroke-width: 0.5px; /* Thickness of the outline */
      cursor: default;
    }
    
